@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
/* font-family: 'Nanum Gothic Coding', monospace; */
#slider{
    background-image: url(../img/main/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
#wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
header{
    width: 1100px;
    height:90px ;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #000;
}
nav>ul{
    display: flex;
}

.under{
    padding: 33px 15px;
    color: #333;
    position: relative;

}

.under::after{
    content: "";
    display: block;
    height: 3px;
    background-color: #fad091;
    position: absolute;
    bottom:0;
    left:50%;
    width: 0;
}
.under:hover{
    color: #fad091;;
}
.under:hover::after{
    width: 100%;
    left:0%;
    transition: all 0.5s ease;
}
#under_home{
    color: #fad091;
}
#under_home::after{
    width: 100%;
    left: 0%;
}
#content{
    width: 1100px;
    margin: 0 auto;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content_text{
    width: 600px;
}
#content_text>h1{
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
}
#content_text .button{
    width: 140px;
    display: inline-block;
    padding: 12px 0;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.3s ease-out;
    font-size: 13px;
    color: #333;
    letter-spacing: 3px;

}
#content_text .button:first-of-type{
    background-color: #fad091;
    color: #fff;
    border: 1px solid #fad091;

}
#content_text .button:first-of-type:hover{
    background-color: transparent;
    color: #fad091;
}
#content_text .button:nth-of-type(2){
    background-color: #fff;
    border: 1px solid #fff;

}
#content_text .button:nth-of-type(2):hover{
    background-color: transparent;
    color: #fff;
}
#content_form{
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
}
#content_form>form{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 0 0 7px;


}
#content_form>form input,#content_form>form select{
    font-family: 'Poppins', sans-serif;
}
#content_form>form input:first-of-type{
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #f3f4f7;
    padding: 0 0 0 10px;

}
#content_form>form input:not(:first-of-type),
#content_form>form select{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #f3f4f7;
    padding: 0 0 0 10px;
    font-weight: 100;


}
#content_form>form select{
    font-family: 'Nanum Gothic Coding', monospace; 
}
#content_form>form input[type='submit']{
    width: 320px;
    height: 40px;
    background-color: #fad091;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0 0 0 0px;
    margin-left: -15px;


}
#content_form>form h3{
    width: 320px;
    height: 40px;
    font-family:'Playfair Display', serif;
    font-weight: 100;
    font-size: 25px;
}
#price{
    width: 1100px;
    height: 620px;
    margin: -100px auto;
    display: flex;
    justify-content: space-between;
}
#price>div{
    width: 350px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
#pirce>div img{
    width: 100%;
}

/* #small{
    background-image: url(../img/main/price1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#mid{
    background-image: url(../img/main/price2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} */

#room{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f4f7;
}
#room>h2{
    width: 100%;
    text-align: center;
    font-size: 54px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    padding: 50px 0;
}
#room>div{
    width: 50%;
    height: 400px;
    display: flex;
}
#room>div img{
    width: 50%;
}
#room .detail{
    width: 50%;
    position: relative;
    transition: all 0.4s ease-out;
    background-color: #fff;

}
.first::after{
    content: "";
    width: 0;
    height: 0;
    border-right: 20px solid #fff;
    border-bottom:15px solid transparent ;
    border-top:15px solid transparent ;
    border-left:0px solid transparent ;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    transition: all 0.4s ease-out;

}
.second::after{
    content: "";
    width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-bottom:15px solid transparent ;
    border-top:15px solid transparent ;
    border-left:20px solid  #fff;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    transition: all 0.4s ease-out;

}
#room .detail:hover{
    background-color: #fad091;
}
#room .detail:hover  p{
    color: #fff;
}
#room .detail:hover a{
    border: none
}
.first:hover::after{
    border-right: 20px solid #fad091;
}
.second:hover::after{
    border-left: 20px solid #fad091;
}
#room .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail p{
    padding: 10px 0;
    font-family: 'Playfair Display', 'Nanum Gothic Coding';
    font-weight: bold;
    color: #333;
    

    /* font-size: 30px; */
}
.detail p:first-of-type{
    font-size: 30px;
    font-weight:normal
}
/* .detail p:nth-of-type(2){
    font-weight: bold;
} */
.detail a{
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif !important;

}
.bgbox{
    background-color: #f3f4f7;
    width: 100%;
}
.bgbox h2{
    text-align: center;
    font-size: 54px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    padding: 50px 0;
}
#space{
    width: 1100px;
    height: 400px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#space>div{
    width: 32%;
    height: 290px;
    border: 1px solid #fad091;
    background-color: #fad091;
    font-family: 'Nanum Gothic Coding', monospace; 
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.space_img{
    width: 90%;
    height: 80%;
    border-radius: 5px;
    overflow: hidden;
}
.space_img img{
    width: 100%;
    height: 100%;
}


#con{
    width: 1100px;
    height: 900px;
    margin: 0 auto;
    display: flex;
}
#con>div{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#con>div img{
    height: 80%;
}
#con>div:first-of-type p{
    height: 15%;
}
#con>h2{
    height: 20%;
}
#con span{
    color: #fad091;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
#con>div>p{
    font-family:'Nanum Gothic Coding',monospace;
    font-size: 17px;
}
#con #con_line{
    line-height: 28px;
}
#con_h2{
    padding: 20px 0 0px 0;
}
#check{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#check>div{
    width: 48%;
    height:20%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.check_list{
    width: 60px;
    height: 60px;
    /* background-color: #41f08f; */
    background-color: #fad091;
    border-radius: 50%;
    background-image: url(../img/main/check.png);
    background-position: center;
    background-size: cover;
}
.check_text{
    width: 75%;
    font-size: 12px;
    
}
.check_text p{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
}

#bgimg{
    width: 100%;
    height: 300px;
    background-image: url(../img/main/main.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#bgimg>div{
    width: 100%;
    height: 100%;
    background-color: rgba(250, 208, 145,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bgimg h2{
    font-size: 60px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
#btnbox{
    margin-top: 20px;
}
#bgimg a{
    width: 140px;
    display: inline-block;
    padding: 12px 0;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.3s ease-out;
    font-size: 13px;
    color: #333;
    letter-spacing: 3px;
}
#bgimg a:first-of-type{
    background-color: #fad091;
    color: #fff;
    border: 1px solid #fad091;

}
#bgimg a:first-of-type:hover{
    background-color: transparent;
    color: #fad091;
}
#bgimg a:nth-of-type(2){
    background-color: #fff;
    border: 1px solid #fff;

}
#bgimg a:nth-of-type(2):hover{
    background-color: transparent;
    color: #fff;
}

#news{
    width: 1100px;
    margin: 0 auto;
    height: 650px;
    display: flex;
    justify-content: space-between;

}
#news>div{
    width: 350px;
    height: 550px;
    background-color: aqua;
}
footer{
    width: 100%;
    height: 430px;
    background-color: #272727;
}
#foot{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    /* background-color: aqua; */
    display:  flex;
    justify-content: space-between;
    align-items: center;
}
#foot>div{
    width: 24%;
    height:60%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    color: #fff;
}

#foot h3{
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}
#foot li{
    padding: 5px 0;
    /* background-color: #fad091 ; */

}
#foot .row{
    /* height: 100px; */
    display: flex;
    flex-direction: row;
}
#foot input[type='text']{
    background: rgba(255, 255, 255, 0.05) ;
    border: none ;
    outline: none;
    padding: 0 0 0 10px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
}
/* #foot input[type='submit']{
    background-color: #fad091 ;
    border: none ;
    outline: none;
    padding: 18px 15px;
    height: 50px;
    width: 20%;
    border-radius: 0px 5px 5px 0;
    margin-left: -15px;
} */
#foot button{
    background-color: #fad091 ;
    border: none ;
    outline: none;
    /* padding: 18px 15px; */
    height: 50px;
    width: 20%;
    cursor: pointer;
    border-radius: 0px 5px 5px 0;
    margin-left: -15px;
    /* background-image: url(../img/main/search.png);
    background-position: center;
    background-size: cover; */
}
/* #foot button img{
    width: 100%;
} */
#foot .sns{
    width: 40px;
    height: 40px;
    /* background-color: #fad091; */
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
